html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

table, th, td {
    font-size: 18px;
    text-align: center;
    border: solid 1px #CCC;
}

th {
    color: #444;
    padding: 10px 20px;
    background-color: #DDD;
}

td {
    padding: 10px 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #CCC;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
}

.title {
    float: left;
}

.controls {
    float: left;
    clear: both;
}

.controls .filters {
    margin: 5px 0;
}

.controls .btn {
    text-align: left;
}

.controls .teams .btn,
.controls .teams .dropdown-menu {
    width: 190px;
}

.controls .salary .btn,
.controls .salary .dropdown-menu {
    width: 130px;
    min-width: auto;
}

.controls .teams .dropdown-menu,
.controls .salary .dropdown-menu {
    padding: 10px 15px;
}

.controls .caret {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 100;
}

.controls .update {
    float: left;
    margin: 10px 0;
}

.controls .dropdown-menu {
    padding: 10px 15px;
}

.controls li {
    cursor: pointer;
}

.controls li:hover {
    color: #5bc0de;
}

.no-players {
    color: #900;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 15px 50px;
    border-top: solid 1px #900;
    border-left: solid 1px #900;
    background-color: #DE6A6A;
    display: none;
}

.leaflet-popup-content .mlb p {
    margin: 0;
}

.leaflet-popup-content .name {
    font-size: 20px;
    font-weight: bold;
}

.leaflet-popup-content .team {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
}

.stats {
    width: 300px;
    margin: 15px 0;
}

.stats-mini {
    width: 300px;
    margin-top: 10px;
}

.stats-mini th, .stats-mini td {
    font-size: 12px;
    border: solid 1px #DDD;
}

.stats-mini th {
    padding: 4px 8px;
    background-color: #EEE;
}

.stats-mini td {
    padding: 4px 0;
}

@media only screen and (min-width: 768px) {
    .controls .filters {
        float: left;
    }

    .controls .filter-salary {
        margin-left: 30px;
    }

    .controls .update {
        margin: 0 0 10px 15px;
    }
}

@media only screen and (min-width: 1024px) {
    .controls {
        margin: 18px 0 0 30px;
        clear: none;
    }
}

@media only screen and (min-width: 1200px) {
    .controls {
        margin-left: 80px;
    }
}