html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

table, th, td {
    font-size: 18px;
    text-align: center;
    border: solid 1px #CCC;
}

th {
    color: #444;
    padding: 10px 20px;
    background-color: #DDD;
}

td {
    padding: 10px 0;
}

#map {
    width: 100%;
    top: 280px;
    bottom: 0;
    position: absolute;
    background-color: #CCC;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
}

.title {
    font-size: 26px;
    font-weight: normal;
    float: left;
    margin-top: 20px;
}

.controls {
    float: left;
    clear: both;
}

.controls .filters {
    margin: 5px 10px 5px 0;
}

.controls .btn {
    text-align: left;
}

.controls .teams .btn,
.controls .teams .dropdown-menu {
    width: 190px;
}

.controls .salary .btn,
.controls .salary .dropdown-menu,
.controls .position .btn,
.controls .position .dropdown-menu {
    width: 150px;
    min-width: auto;
}

.controls .teams .dropdown-menu,
.controls .salary .dropdown-menu {
    padding: 10px 15px;
}

.controls .caret {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 100;
}

.controls .update {
    float: left;
    margin: 10px 0;
}

.controls .dropdown-menu {
    padding: 10px 15px;
}

.controls li {
    cursor: pointer;
}

.controls li:hover {
    color: #5bc0de;
}

.no-players {
    color: #900;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 15px 50px;
    background-color: #FFF;
    display: none;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.leaflet-popup-content .mlb p {
    margin: 0;
}

.leaflet-popup-content .name {
    font-size: 20px;
    font-weight: bold;
}

.leaflet-popup-content .team {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
}

.stats {
    width: 300px;
    margin: 15px 0;
}

.stats-mini {
    width: 300px;
    margin-top: 10px;
}

.stats-mini th, .stats-mini td {
    font-size: 12px;
    border: solid 1px #DDD;
}

.stats-mini th {
    padding: 4px 8px;
    background-color: #EEE;
}

.stats-mini td {
    padding: 4px 0;
}

@media only screen and (min-width: 768px) {
    #map {
        top: 140px;
    }

    .controls .filters {
        float: left;
    }

    .controls .filter-salary {
        margin-left: 30px;
    }

    .controls .update {
        margin: 0 0 10px 15px;
    }
}

@media only screen and (min-width: 1024px) {
    #map {
        top: 80px;
    }

    .controls {
        margin: 18px 0 0 30px;
        clear: none;
    }
}

@media only screen and (min-width: 1200px) {
    .controls {
        margin-left: 80px;
    }
}


/* Leaflet.markercluster */

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

/* Leaflet.markercluster : IE 6-8 fallback colors */

.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}
